<template>
  <div style="display:inline-block">
    <button class="btn waves-effect indigo" title="Exportar Datos" @click="exportData">
      <i class="material-icons valign-wrapper">file_download</i>
    </button>
    <table style="display:none" :id="`table-${campain.id}`">
      <tr>
        <td>Evaluado</td>
        <td :key="`d${index}`" v-for="(a, index) in 59"></td>
      </tr>

      <tr>
        <td>Nombre</td>
        <td>Puesto</td>
        <td>Area</td>
        <td>Correo Electrónico</td>
        <td :key="`a${index}`" v-for="(a,index) in 56"></td>
      </tr>

      <tr>
        <td>{{campain.name}}</td>
        <td>{{campain.stall}}</td>
        <td>{{campain.area}}</td>
        <td>{{campain.email}}</td>
        <td :key="`b${index}`" v-for="(a,index) in 56"></td>
      </tr>

      <tr>
        <td>Evaluado</td>
        <td :key="`c${index}`" v-for="(a,index) in 59"></td>
      </tr>

      <tr>
        <td>Nombre</td>
        <td>Puesto</td>
        <td>Area</td>
        <td>Relación</td>
        <td>Correo Electrónico</td>
        <td>Código de acceso</td>
        <td>Activado</td>
        <td>Cuestionario Completado</td>
        <td>Fecha de Aplicación</td>
        <td>Frecuencia</td>
        <td>Calficación</td>
        <td>Sugerencia</td>
        <template v-if="evaluators[0]">
          <td
            :key="`answer-head-${index}`"
            v-for="(answer, index) in JSON.parse(evaluators[0].questionnaire.reactivesAnswers)"
          >Reactivo {{index + 1}}</td>
        </template>
      </tr>

      <tr :key="`evaluator-${index}`" v-for="(evaluator, index) in evaluators">
        <td>{{evaluator.name}}</td>
        <td>{{evaluator.stall}}</td>
        <td>{{evaluator.area}}</td>
        <td>{{evaluator.relation}}</td>
        <td>{{evaluator.email}}</td>
        <td>{{evaluator.userCode}}</td>
        <td>{{evaluator.active ? "Si" : "No"}}</td>
        <td>{{evaluator.finished ? "Si" : "No"}}</td>
        <td>{{evaluator.questionnaire.date}}</td>
        <td>{{evaluator.questionnaire.frequency}}</td>
        <td>{{evaluator.questionnaire.qualification}}</td>
        <td>{{evaluator.questionnaire.suggestion}}</td>
        <td
          :key="`answer-${index}`"
          v-for="(answer, index) in JSON.parse(evaluator.questionnaire.reactivesAnswers)"
        >{{answer.value}}</td>
      </tr>
    </table>
  </div>
</template>

<script>
import axios from "axios";

export default {
  props: {
    campain: Object,
    user: Object,
    name: String,
    uid: String
  },
  data() {
    return {
      evaluators: []
    };
  },
  methods: {
    exportData() {
      console.log(this.campain);
      console.log(this.user);
      this.getEvaluators();
    },
    getEvaluators() {
      axios
        .get(
          "https://evaluacion-360.human-express.com/php/evaluations/evaluators/read.php?uid=" +
            this.uid
        )
        .then(response => {
          console.log(response.data);

          this.status = response.data.status;
          if (response.data.status) {
            this.evaluators = response.data.evaluators;
            setTimeout(() => {
              this.exportTableToCSV("Exportación.csv");
            }, 500);
          } else {
            this.message = response.data.message;
          }
        })
        .catch(error => {
          this.status = false;
          this.message = "Ha ocurrido un error: " + error;
        });
    },
    exportTableToCSV(filename) {
      console.log(this.campain.id);

      var csv = [];
      var rows = document.querySelectorAll(`#table-${this.campain.id} tr`);

      for (var i = 0; i < rows.length; i++) {
        var row = [],
          cols = rows[i].querySelectorAll("td, th");

        for (var j = 0; j < cols.length; j++) row.push(cols[j].innerText);

        csv.push(row.join(","));
      }

      // Download CSV file
      this.downloadCSV(csv.join("\n"), filename);
    },
    downloadCSV(csv, filename) {
      var csvFile;
      var downloadLink;

      // CSV file
      csvFile = new Blob([csv], { type: "text/csv" });

      // Download link
      downloadLink = document.createElement("a");

      // File name
      downloadLink.download = filename;

      // Create a link to the file
      downloadLink.href = window.URL.createObjectURL(csvFile);

      // Hide download link
      downloadLink.style.display = "none";

      // Add the link to DOM
      document.body.appendChild(downloadLink);

      // Click download link
      downloadLink.click();
    }
  }
};
</script>

<style>
</style>