<template>
  <div>
    Resultados
    <canvas id="resultChart"></canvas>

    <table>
      <thead>
        <tr>
          <th>Aspecto</th>
          <th>Rango</th>
          <th>Nivel</th>
          <th>Resultado</th>
          <th>Diagnostico</th>
          <th>Recomendación</th>
        </tr>
      </thead>
      <tbody>
        <tr :key="range.title" v-for="range in rangeData">
          <template v-if="range.title">
            <th>{{range.title.replace(/_/g," ")}}</th>
            <th>{{range.rangeNum}}</th>
            <th>{{levelText(range.rangeNum)}}</th>
            <th>{{range.value}}</th>
            <th>{{range.diagnosis}}</th>
            <th>{{range.recommendations}}</th>
          </template>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import axios from "axios";
import Chart from "chart.js";
export default {
  name: "Results",
  data() {
    return {
      results: [],
      ranges: []
    };
  },
  computed: {
    rangeData() {
      var rangeData = [];

      this.results.forEach(aspect => {
        var rangesParsed = this.ranges.find(range => {
          console.log((aspect.value + "").split(".")[0], range.rangeNum);
          console.log(aspect.aspect.trim(), range.title.trim());

          console.log(
            aspect.aspect.trim() == range.title.trim() &&
              (aspect.value + "").split(".")[0] == range.rangeNum
          );

          return (
            aspect.aspect.trim() == range.title.trim() &&
            (aspect.value + "").split(".")[0] == range.rangeNum
          );
        });

        if (aspect && rangesParsed && aspect.value) {
          rangesParsed.value = aspect.value;
        }

        rangeData.push(rangesParsed);
        console.log("__________");
      });
      return rangeData;
    }
  },
  methods: {
    levelText(value) {
      var text;
      switch (value) {
        case "1":
          text = "lel";
          break;
        case "2":
          text = "Poco Satisfactorio";
          break;
        case "3":
          text = "Satisfactorio Regularmente";
          break;
        case "4":
          text = "Muy Satifactorio";
          break;
      }
      return text;
    },
    getData() {
      this.getRanges();
      var userId = this.$route.params.userId;
      var evaluatedId = this.$route.params.evaluatedId;
      axios
        .get(
          `https://evaluacion-360.human-express.com/php/results/read.php?userId=${userId}&evaluatedId=${evaluatedId}`
        )
        .then(response => {
          if (response.data.status) {
            this.buildData(response.data.questionnaires);
            this.questionnaires = response.data.questionnaires;
          }
        });
    },

    getAnswers(questionnaires) {
      var answers = [];

      JSON.parse(questionnaires[0].reactivesAnswers).forEach(
        (reactivesAnswer, index) => {
          var fullAnswer = { aspect: "", value: 0 };

          questionnaires.forEach(questionnaire => {
            var questionnaireAnswers = JSON.parse(
              questionnaire.reactivesAnswers
            );

            fullAnswer.aspect = questionnaireAnswers[index].aspect;
            fullAnswer.value += questionnaireAnswers[index].value;
          });

          answers.push(fullAnswer);
        }
      );

      return answers;
    },

    sumAnswers(answers, questionnaires) {
      var averageAnswer = answers.map(answer => {
        return {
          aspect: answer.aspect,
          value: parseFloat((answer.value / questionnaires.length).toFixed(1))
        };
      });

      return averageAnswer;
    },

    averageAspects(sumAnswers) {
      var aspects = {};
      sumAnswers.forEach(answer => {
        if (aspects[answer.aspect]) {
          aspects[answer.aspect] = aspects[answer.aspect] + answer.value;
        } else {
          aspects[answer.aspect] = answer.value;
        }
      });

      return aspects;
    },

    averageTotalAspects(averageAspects, sumAnswers) {
      var aspectsNum = {};
      sumAnswers.forEach(answer => {
        if (aspectsNum[answer.aspect]) {
          aspectsNum[answer.aspect]++;
        } else {
          aspectsNum[answer.aspect] = 1;
        }
      });

      return Object.keys(aspectsNum).map(aspect => {
        return {
          aspect,
          value: parseFloat(
            (
              parseFloat(averageAspects[aspect].toFixed(1)) / aspectsNum[aspect]
            ).toFixed(1)
          )
        };
      });
    },

    createChart(averageTotalAspects) {
      var ctx = document.querySelector("#resultChart").getContext("2d");
      setTimeout(() => {
        new Chart(ctx, {
          type: "horizontalBar",
          data: {
            labels: averageTotalAspects.map(
              aspect => `${aspect.aspect.replace(/_/g, " ")} ${aspect.value}`
            ),
            datasets: [
              {
                label: "Resultados",
                data: averageTotalAspects.map(aspect => aspect.value),
                backgroundColor: "#4f81bd"
              }
            ]
          },
          options: {
            scales: {
              xAxes: [
                {
                  ticks: {
                    beginAtZero: true,
                    stepSize: 1,
                    suggestedMax: 5
                  }
                }
              ]
            }
          }
        });
      }, 200);
    },

    buildData(questionnaires) {
      var answers = this.getAnswers(questionnaires);
      var sumAnswers = this.sumAnswers(answers, questionnaires);
      var averageAspects = this.averageAspects(sumAnswers);
      var averageTotalAspects = this.averageTotalAspects(
        averageAspects,
        sumAnswers
      );
      this.results = averageTotalAspects;
      this.createChart(averageTotalAspects);
    },

    getRanges() {
      axios
        .get(
          "https://evaluacion-360.human-express.com/php/textualRanges/read.php?query=*"
        )
        .then(response => {
          this.ranges = response.data.textualRanges;
          this.$forceUpdate();
        });
    }
  },

  mounted() {
    this.getData();
  }
};
</script>
  