<template>
  <div style="display:inline-block">
    <!-- editar usuario -->
    <button
      :data-target="'editCampain' + index"
      class="btn waves-effect blue modal-trigger"
      title="Modificar campos"
      @click="updateFields"
    >
      <i class="material-icons valign-wrapper">edit</i>
    </button>
    <!-- modal de edición -->
    <edit-campain :campainProp="campain" :index="index" :campains="user.campains" :user="user.id"/>
  </div>
</template>
<script>
import EditCampain from "./editEvaluated/EditCampain";
export default {
  props: ["campain", "index"],
  components: {
    EditCampain
  },
  computed: {
    user() {
      let users = JSON.parse(sessionStorage.sessionData);
      users.campains = JSON.parse(users.campains);
      return users;
    }
  },
  methods: {
    updateFields() {
      M.updateTextFields();
    }
  }
};
</script>
