<template>
  <div class="switch" style="display:inline-block" title="Activar/Desactivar">
    <label>
      <!-- <input
        type="checkbox"
        :checked="campain.status == true || campain.status == 'true'"
        @click.prevent="changeStatus(campain.status,index)"
      >-->
      <input type="checkbox" v-model="active">
      <span class="lever"></span>
    </label>
  </div>
</template>
<script>
import axios from "axios";
export default {
  props: ["campain", "index"],
  data() {
    return {
      thisCampain: {}
    };
  },
  computed: {
    user() {
      let users = JSON.parse(sessionStorage.sessionData);
      users.campains = JSON.parse(users.campains);
      return users;
    },
    active: {
      get() {
        return this.thisCampain;
      },
      set(value) {
        let campains = this.user.campains;
        campains[this.index].status = value;
        let user = this.user;
        user.campains = campains;
        sessionStorage.sessionData = JSON.stringify(user);
        this.updateStatus(campains);
      }
    }
  },
  methods: {
    updateStatus(campains) {
      let data = {
        user: this.user.id,
        campains: JSON.stringify(campains)
      };

      console.log(data);

      axios
        .post(
          "https://evaluacion-360.human-express.com/php/evaluations/update.php",
          this.createFormData(data)
        )
        .then(response => {
          console.log(response.data);
          if (response.data.status) {
            location.reload();
          }
          M.toast({
            html: response.data.message
          });
        })
        .catch(error => {
          M.toast({
            html:
              "No se pudo procesar la información, intentalo de nuevo más tarde " +
              error
          });
        });
    },
    createFormData(postData) {
      var formDa = new FormData();
      for (var key in postData) {
        formDa.append(key, postData[key]);
      }
      return formDa;
    }
  },
  mounted() {
    this.thisCampain = this.campain.status;
  }
};
</script>
