<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="results/css/global.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

  <title>NOM035| Resultados</title>
</head>

<body>
  <div class="container">
    <div id="app">
      <div class="row">
        <div class="col s6 valign-wrapper" style="height: 100px;">
          <img src="results/logo.png" style="width: 150px; ">
        </div>
        <div class=" col s6">
          <div class="valign-wrapper " style="height:100px;">
            <h1 class="medium-text" style="margin: 0 auto">
              Resultados de
              <span class="indigo-text">
                <b>{{urlToString(campain)}}</b> | <span style="text-transform: capitalize">{{displayCategory}}</span>
              </span>
            </h1>
          </div>
        </div>
      </div>

      <div class="divider"></div>

      <div v-if="status == 0" class="grey-text center large-text">
        Obteniendo datos ...
      </div>
      <div v-else-if="status == 1">

        <div v-if="newCategory == 'respuestas-global'">
          <h2 class="medium-text">Gráficas por Escala de Calificación-Porcentaje-Número de Participantes </h2>
          <div class="">
            <div v-for=" (aspect,index) in aspects">
              <donut-chart :questionnaires="questionnaires" :aspect="aspect" :index="index"></donut-chart>
            </div>
          </div>
        </div>
        <div v-else-if="newCategory == 'global'">

          <div class="divider"></div>

          <h3 class="medium-text">Gráfica Global</h3>
          <canvas id="aspect-chart-global" style="width:100%"></canvas>

          <h3 class="medium-text">Gráfica Global</h3>
          <p>De Menor a Mayor % de Satisfacción</p>
          <canvas id="aspect-chart-global-sort" style="width:100%"></canvas>
          <textual-range :data="abcGlobalData"></textual-range>
          <h3 class="medium-text">Gráfica Condensados</h3>
          <condensed-chart :data="globalData" :aspects="aspectsToUse"></condensed-chart>

        </div>
        <div v-else-if="newCategory == 'participants'">
          <br>
          <button class="btn indigo" @click="exportTableToCSV('members.csv')">Exportar participantes</button>
          <table id="tableToExport" style="display: none">
            <tr>
              <th>#</th>
              <th>Entidad</th>
              <th>Area</th>
              <th>Turno</th>
              <th>Genero</th>
              <th>Edad</th>
              <th>Antiguedad</th>
              <th>Estudios</th>
              <th>Recomendación</th>
              <!-- <th v-for="aspect in aspectQuestionaireParse(questionnaires[0].aspects)">{{aspect.aspect}}</th> -->
              <th>Reactivos: </th>
              <th v-for="(aspect,index) in JSON.parse(aspectQuestionaireParse(questionnaires[0].reactivesAnswers))">{{index
                +1}}</th>
            </tr>
            <tr v-for="(questionnaire,index) in questionnaires">
              <td>{{index + 1}}</td>
              <td>{{questionnaire.entitie}}</td>
              <td>{{questionnaire.area}}</td>
              <td>{{questionnaire.turn}}</td>
              <td>{{questionnaire.gender}}</td>
              <td>{{questionnaire.age}}</td>
              <td>{{questionnaire.antiquity}}</td>
              <td>{{questionnaire.studies}}</td>
              <td>{{questionnaire.suggestion}}</td>
              <!-- <td v-for="aspect in aspectQuestionaireParse(questionnaire.aspects)">{{aspect.value}}</td> -->
              <td>Respuestas:</td>
              <th v-for="(reactive, index) in JSON.parse(questionnaire.reactivesAnswers)">{{reactive.value}}</th>
            </tr>
          </table>
        </div>
        <div v-else>

          <h3 class="medium-text">Gráfica Global</h3>
          <global-parcial-chart :type="category" :data="questionnaires"></global-parcial-chart>

          <h3 class="medium-text">Gráfica Parcial</h3>

          <parcial-chart :type="category" :data="questionnaires"></parcial-chart>

        </div>



      </div>
      <div v-else-if="status == 2" class="grey-text center large-text">
        {{message}}
      </div>


      <div v-show="printStart" @click="print" class="fixed-action-btn">
        <a class="btn-floating btn-large green">
          <i class="large material-icons">print</i>
        </a>
      </div>

    </div>
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.0.0/Chart.min.js"></script>
  <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
  <script src="results/js/components/textualRange.js"></script>
  <script src="results/js/components/condensedChart.js"></script>
  <script src="results/js/components/globalParcial.js"></script>
  <script src="results/js/components/parcialChart.js"></script>
  <script src="results/js/components/donutChart.js"></script>

  <script src="results/js/app.js"></script>
</body>

</html>