<template>
  <div>
    <div class="fixed-action-btn" v-show="printStart" @click="print">
      <a class="btn-floating btn-large indigo">
        <i class="large material-icons">print</i>
      </a>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      printStart: true
    };
  },
  methods: {
    print() {
      this.printStart = false;
      setTimeout(() => {
        if (window.print()) {
          this.printStart = true;
        } else {
          this.printStart = true;
        }
      }, 100);
    }
  }
};
</script>

<style>
</style>