<template>
  <div>
    <br />
    <div class="navbar-results">
      <div>
        <img :src="require('@/assets/logo.png')" style="width: 200px" />
      </div>
      <section class="evaluation-card">
        <p :key="`data-card-${index}`" v-for="(el, index) in evaluationCardData">
          {{el.title}}
          <b>{{el.value}}</b>
        </p>
      </section>
    </div>
    <div :key="questionnaire" v-for="questionnaire in Object.keys(splitQuestionnaire)">
      <ResultComponent
        :title="titles[questionnaire]"
        :questionnaires="splitQuestionnaire[questionnaire]"
        :ranges="ranges"
      />
    </div>
  </div>
</template>

<script>
import axios from "axios";
import ResultComponent from "./ResultComponent";
export default {
  name: "Results",
  components: { ResultComponent },
  data() {
    return {
      ranges: [],
      splitQuestionnaire: {},
      campainData: {},
      questionnaires: [],
      titles: {
        global: "Global",
        auto: "Autoevaluación"
      }
    };
  },
  computed: {
    evalData() {
      return {
        name: this.evalQuestionnaireIndex0.campain,
        area: this.evalQuestionnaireIndex0.area,
        stall: this.evalQuestionnaireIndex0.stall
      };
    },
    evaluationCardData() {
      return [
        { title: "Evaluación 360 de", value: this.campainData.name },
        { title: "Puesto:", value: this.campainData.stall },
        { title: "Area o Departamento:", value: this.campainData.area },
        { title: "Fecha de Evaluación", value: this.evaluationDate },
        { title: "Empresa Comercial", value: this.campainData.userName }
      ];
    },
    evaluationDate() {
      let dates = this.questionnaires.map(
        questionnaire => new Date(questionnaire.date)
      );

      dates = dates.sort((a, b) => a - b);

      let firstDate = dates[0] ? dates[0].toLocaleDateString("es-MX") : "...";
      let lastDate = dates[dates.length - 1]
        ? dates[dates.length - 1].toLocaleDateString("es-MX")
        : "...";
      if (firstDate == lastDate) {
        return `${firstDate}`;
      }
      return `Del ${firstDate} al ${lastDate}`;
    }
  },
  methods: {
    getData() {
      this.getRanges();
      var userId = this.$route.params.userId;
      var evaluatedId = this.$route.params.evaluatedId;
      axios
        .get(
          `https://evaluacion-360.human-express.com/php/results/read.php?userId=${userId}&evaluatedId=${evaluatedId}`
        )
        .then(response => {
          if (response.data.status) {
            this.questionnaires = response.data.questionnaires;
            this.splitData(response.data.questionnaires);
            this.campainData = {
              ...response.data.campain,
              userName: response.data.user.name
            };
          }
        });
    },

    splitData(questionnaires) {
      var sections = {
        global: [],
        auto: []
      };

      // cuestionarios sin autoevaluación
      const questionnairesNoAuto = questionnaires.filter(el => {
        return el.frequency != "Autoevaluación";
      });
      // sólo auto evaluación
      const questionnairesAuto = questionnaires.filter(el => {
        return el.frequency == "Autoevaluación";
      });

      questionnairesNoAuto.forEach(questionnaire => {
        sections["global"].push(questionnaire);
      });
      questionnairesAuto.forEach(questionnaire => {
        sections["auto"].push(questionnaire);
      });

      this.splitQuestionnaire = sections;
    },

    getRanges() {
      axios
        .get(
          "https://evaluacion-360.human-express.com/php/textualRanges/read.php?query=*"
        )
        .then(response => {
          this.ranges = response.data.textualRanges;
          this.$forceUpdate();
        });
    }
  },

  mounted() {
    this.getData();
  }
};
</script>
<style >
.navbar-results {
  display: flex;
  vertical-align: middle;
  justify-content: space-between;
}

.evaluation-card p {
  margin: 0px;
}
</style>
