<template>
  <div id="app">
    <div class="container">
      <router-view />
    </div>
    <Print />
  </div>
</template>
<script>
import Print from "./views/Print";
export default {
  components: { Print }
};
</script>