<template>
  <div class="right-align">
    <br>
    <div class="hidden">{{user}}</div>
    <span v-if="evaluationsLength">Sólo puedes crear una evaluación</span>
    <button
      :disabled="evaluationsLength"
      title="Crear Evaluación"
      :data-target="'createCampain' + user.id"
      class="btn waves-effect waves-light indigo white-text modal-trigger"
    >
      <i class="material-icons valign-wrapper left">add</i> Añadir evaluación
    </button>

    <!-- MODAL -->

    <div
      :id="'createCampain' + user.id"
      class="modal modal-fixed-footer left-align"
      style="overflow-x: hidden"
    >
      <form @submit.prevent="send">
        <div class="modal-content" style="overflow-x: hidden">
          <h4>
            <i class="material-icons">people</i> Crear Evaluación
          </h4>
          <p>
            Nueva evaluación en
            <strong class="indigo-text">{{user.name}}</strong>
          </p>
          <p>
            Una nueva evaluación clonará el
            <strong>cuestionario base actual</strong> y posteriormente podrá ser
            modificado
          </p>

          <h5>Evaluado</h5>
          <div class="row">
            <div class="input-field col s12 m6">
              <i class="material-icons prefix">person</i>
              <input v-model="nameEval" id="nameEval" type="text" class="validate" required>
              <label for="nameEval">Nombre</label>
            </div>

            <div class="input-field col s12 m6">
              <i class="material-icons prefix">assignment_ind</i>
              <input v-model="stallEval" id="stallEval" type="text" class="validate" required>
              <label for="stallEval">Puesto</label>
            </div>

            <div class="input-field col s12 m6">
              <i class="material-icons prefix">work</i>
              <input v-model="areaEval" id="areaEval" type="text" class="validate" required>
              <label for="areaEval">Area/Departamento</label>
            </div>

            <div class="input-field col s12 m6">
              <i class="material-icons prefix">email</i>
              <input v-model="emailEval" id="emailEval" type="text" class="validate" required>
              <label for="emailEval">Correo Electrónico</label>
            </div>

            <!-- evaluadores -->
            <!--
              <h5>Añadir Evaluadores</h5>

              <div class="input-field col s12 m6">
                <i class="material-icons prefix">person</i>
                <input v-model="nameEvaluator" id="nameEvaluator" type="text" class="validate" required>
                <label for="nameEvaluator">Nombre</label>
              </div>

              <div class="input-field col s12 m6">
                <i class="material-icons prefix">assignment_ind</i>
                <input v-model="stallEvaluator" id="stallEvaluator" type="text" class="validate" required>
                <label for="stallEvaluator">Puesto</label>
              </div>

              <div class="input-field col s12 m6">
                <i class="material-icons prefix">work</i>
                <input v-model="areaEvaluator" id="areaEvaluator" type="text" class="validate" required>
                <label for="areaEvaluator">Area/Departamento</label>
              </div>

              <div class="input-field col s12 m6">
                <i class="material-icons prefix">people</i>
                <select v-model="relationEvaluator" required>
                  <option>Cliente Externo</option>
                  <option>Cliente Interno</option>
                  <option>Compañero de Area o Departamento</option>
                  <option>Jefe Directo</option>
                  <option>Par (Mismo nivel o jerarquía)</option>
                  <option>Subordinado</option>
                </select>
                <label>Relación con el evaluado</label>
              </div>

              <div class="input-field col s12 m6">
                <i class="material-icons prefix">email</i>
                <input v-model="emailEvaluator" id="emailEvaluator" type="text" class="validate" required>
                <label for="emailEvaluator">Correo Electrónico</label>
              </div>

              <div class="input-field col s12 m6 center">
                <button @click="addEvaluator" class="btn infigo">
                  <i class="material-icons left">person_add</i>
                  Añadir Evaluador
                </button>
              </div>
            </div>
          <br>
          <div class="divider"></div>
          <h5>Evaluadores</h5>
          <div class="row">
            <div class="col s12 m6" :key="index" v-for="(evaluator,index) in evaluators">
              <div class="card-panel">
                <i class="material-icons red-text right" @click="evaluators.splice(index, 1);">close</i>
                Nombre:
                <b>{{evaluator.name}}</b>
                <br>Puesto:
                <b>{{evaluator.stall}}</b>
                <br>Area:
                <b>{{evaluator.area}}</b>
                <br>Relación:
                <b>{{evaluator.relation}}</b>
                <br>Correo Electrónico:
                <b>{{evaluator.email}}</b>
                <hr>Código de Acceso:
                <b>{{evaluator.userCode}}</b>
              </div>
            </div>
            -->
          </div>
        </div>
        <div class="modal-footer">
          <span class="indigo-text">{{response}}</span>
          <a class="btn-flat waves-effect modal-close">Cancelar</a>
          <a v-if="buttonDisabled">
            <loading class="preloader"/>
          </a>
          <button :disabled="buttonDisabled" class="btn waves-effect indigo">
            <i class="material-icons left">add</i>
            Crear
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
import { mapState, mapMutations } from "vuex";
import loading from "@/components/loading";
import axios from "axios";
export default {
  components: {
    loading
  },
  data() {
    return {
      // view
      shown: "none",
      // Nueva evaluación
      title: "",
      numberOfParticipants: "",
      response: "",

      // configuración de la evaluación
      nameEval: "",
      stallEval: "",
      areaEval: "",
      emailEval: "",
      // crear evaluadores
      nameEvaluator: "",
      stallEvaluator: "",
      areaEvaluator: "",
      relationEvaluator: "Cliente Externo",
      emailEvaluator: "",
      // evaluadores
      evaluators: [],

      //edit
      edit: false,
      buttonDisabled: false
    };
  },
  computed: {
    evaluationsLength() {
      setTimeout(() => {
        let campains = JSON.parse(this.user.campains);
        return campains.length ? true : false;
      }, 500);
    },
    ...mapState(["user"])
  },
  methods: {
    send() {
      this.response = "";
      this.buttonDisabled = true;

      let data = {
        user: this.user.id,
        name: this.nameEval,
        stall: this.stallEval,
        area: this.areaEval,
        email: this.emailEval,

        evaluators: JSON.stringify(this.evaluators)
      };

      console.log(data);

      axios
        .post(
          "https://evaluacion-360.human-express.com/php/evaluations/create.php",
          this.createFormData(data)
        )
        .then(response => {
          this.buttonDisabled = false;
          console.log(response.data);
          if (response.data.status) {
            let instance = M.Modal.getInstance(
              document.querySelector("#createCampain" + this.user.id)
            );
            instance.close();
            this.buttonDisabled = false;
            M.toast({
              html: response.data.message
            });
            location.reload();
          } else {
            this.response = response.data.message;
          }
        })
        .catch(error => {
          console.log(error);

          this.buttonDisabled = false;
          this.response =
            "No se pudo procesar la información, intentalo de nuevo más tarde" +
            error;

          M.toast({
            html:
              "No se pudo procesar la información, intentalo de nuevo más tarde"
          });
        });
    },
    createFormData(postData) {
      var formDa = new FormData();
      for (var key in postData) {
        formDa.append(key, postData[key]);
      }
      return formDa;
    }
  },
  mounted() {
    var elems = document.querySelectorAll(".modal");
    var instances = M.Modal.init(elems, {});
    var elems = document.querySelectorAll("select");
    var instances = M.FormSelect.init(elems, {});
  }
};
</script>

<style scoped>
.hidden {
  display: none;
}
</style>

