<template>
  <div class="card-panel">
    <div class="row">
      <div class="col s2">
        <span class="label-title">Nombre</span>
        <br />
        <span class="label-content">{{campain.name}}</span>
      </div>
      <div class="col s2">
        <span class="label-title">Puesto</span>
        <br />
        <span class="label-content">{{campain.stall}}</span>
      </div>
      <div class="col s2">
        <span class="label-title">Area</span>
        <br />
        <span class="label-content">{{campain.area}}</span>
      </div>
      <div class="col s6">
        <span class="label-title">Correo Electrónico</span>
        <br />
        <span class="label-content">{{campain.email}}</span>
      </div>
    </div>

    <!-- botones del evaluado -->
    <div class="right">
      <div class="switch" style="display:inline-block" title="Activar/Desactivar">
        <label>
          <input
            type="checkbox"
            :checked="campain.status == true || campain.status == 'true'"
            @click.prevent="changeStatus(campain.status,index)"
          />
          <span class="lever"></span>
        </label>
      </div>

      <!-- exportar db -->
      <ExportData :campain="campain" :user="user" :uid="campain.id" :name="campain.name" />

      <router-link
        :to="'campain/'+user.id+'/'+campain.id+'/'+toUrl(campain.name)"
        class="btn waves-effect indigo"
        title="Modificar reactivos"
      >
        <i class="material-icons valign-wrapper">bookmarks</i>
      </router-link>
      <!-- editar usuario -->
      <button
        :data-target="'editCampain' + index"
        class="btn waves-effect blue modal-trigger"
        title="Modificar campos"
        @click="updateFields"
      >
        <i class="material-icons valign-wrapper">edit</i>
      </button>
      <!-- modal de edición -->
      <edit-campain
        :campainProp="campain"
        :index="index"
        :campains="user.campains"
        :user="user.id"
        :uid="campain.id"
        :name="campain.name"
      />
      <!-- editar evaluadores -->
      <show-evaluators :uid="campain.id" :name="campain.name" />

      <!-- eliminar -->
      <button
        @click="deleteCampain(campain.name,index,campain.id)"
        title="Eliminar diagnóstico"
        class="btn waves-effect red"
      >
        <i class="material-icons valign-wrapper">close</i>
      </button>
    </div>
    <br />
  </div>
</template>
<script>
import editCampain from "@/components/users/editCampain";
import showEvaluators from "../components/showEvaluators";
import ExportData from "./components/ExportData";
import axios from "axios";

export default {
  props: ["campain", "user", "index"],
  components: {
    editCampain,
    showEvaluators,
    ExportData
  },
  methods: {
    toUrl(string, index) {
      return string.replace(/ /g, "-").toLowerCase();
    },
    updateFields() {
      M.updateTextFields();
    },
    deleteCampain(campain, index, uid) {
      if (confirm("Eliminar diagnóstico")) {
        if (Array.isArray(this.campains)) {
          this.campains.splice(index, 1);
        } else {
          this.campains = [];
        }
        console.log(this.campains);
        let data = {
          user: this.user.id,
          index,
          campain,
          uid
        };
        console.log(data);
        axios
          .post(
            "https://evaluacion-360.human-express.com/php/evaluations/delete.php",
            this.createFormData(data)
          )
          .then(response => {
            console.log(response.data);
            if (response.data.status) {
              M.toast({
                html: response.data.message
              });
              if (response.data.status) {
                location.reload();
              }
            } else {
              M.toast({
                html: response.data.message
              });
            }
          })
          .catch(error => {
            console.log(error);
            this.buttonDisabled = false;
            this.response =
              "No se pudo procesar la información, intentalo de nuevo más tarde";
            M.toast({
              html:
                "No se pudo procesar la información, intentalo de nuevo más tarde"
            });
          });
      }
    },
    changeStatus(status, index) {
      if (status == "false" || status == false) {
        if (!confirm("Haz click en aceptar para ACTIVAR el diagnóstico")) {
        } else {
          let campains = JSON.parse(this.user.campains);
          campains[index].status = true;
          this.updateStatus(campains);
        }
      } else if (status == "true" || status == true) {
        if (!confirm("Haz click en aceptar para DESACTIVAR el diagnóstico")) {
        } else {
          let campains = JSON.parse(this.user.campains);
          campains[index].status = false;
          this.updateStatus(campains);
        }
      }
    },
    updateStatus(campains) {
      let data = {
        user: this.user.id,
        campains: JSON.stringify(campains)
      };

      axios
        .post(
          "https://evaluacion-360.human-express.com/php/evaluations/update.php",
          this.createFormData(data)
        )
        .then(response => {
          console.log(response.data);
          if (response.data.status) {
            this.$emit("update:change");
            location.reload();
          }
          M.toast({
            html: response.data.message
          });
        })
        .catch(error => {
          M.toast({
            html:
              "No se pudo procesar la información, intentalo de nuevo más tarde " +
              error
          });
        });
    },
    createFormData(postData) {
      var formDa = new FormData();
      for (var key in postData) {
        formDa.append(key, postData[key]);
      }
      return formDa;
    }
  }
};
</script>
<style>
.label-title {
  font-size: 11px;
  color: grey;
}
.label-content {
  font-weight: bold;
}
</style>
