<template>
  <div class="switch">
    <label>
      <input type="checkbox" v-model="active">
      <span class="lever"></span>
    </label>
  </div>
</template>
<script>
import axios from "axios";
export default {
  props: ["user"],
  computed: {
    active: {
      get() {
        return this.user.active == 1 ? true : false;
      },
      set(value) {
        this.user.active = value;
      }
    }
  },
  methods: {
    toggleActive() {
      let data = {
        id: this.user.id,
        active: this.active ? 1 : 0
      };
      axios
        .post(
          "https://evaluacion-360.human-express.com/php/users/updateActive.php",
          this.createFormData(data)
        )
        .then(response => {
        });
    },
    createFormData(postData) {
      var formDa = new FormData();
      for (var key in postData) {
        formDa.append(key, postData[key]);
      }
      return formDa;
    }
  },
  watch: {
    active() {
      this.toggleActive();
    }
  }
};
</script>

<style scoped>
.switch {
  display: inline-block;
}
</style>
