<template>
  <div :id="'editCampain' + index" class="modal modal-fixed-footer" style="overflow-x: hidden">
    <form @submit.prevent="sendEdit">
      <div class="modal-content" style="overflow-x: hidden">
        <h4>
          <i class="material-icons">edit</i> Editar evaluado
          <b class="indigo-text">{{campain.name}}</b>
        </h4>
        <div class="row">
          <div class="col s12">
            <div class="row">
              <div class="input-field col s12 m6">
                <i class="material-icons prefix">assignment_ind</i>
                <input v-model="campain.stall" id="stallEval" type="text" class="validate" required />
                <label for="stallEval">Puesto</label>
              </div>

              <div class="input-field col s12 m6">
                <i class="material-icons prefix">work</i>
                <input v-model="campain.area" id="areaEval" type="text" class="validate" required />
                <label for="areaEval">Area/Departamento</label>
              </div>

              <div class="input-field col s12 m6">
                <i class="material-icons prefix">email</i>
                <input
                  v-model="campain.email"
                  :id="`emailEval${index}`"
                  type="text"
                  class="validate"
                  required
                />
                <label :for="`emailEval${index}`">Correo Electrónico</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <span class="indigo-text">{{response}}</span>
        <a class="btn-flat waves-effect modal-close">Cancelar</a>
        <a v-if="buttonDisabled">
          <loading class="preloader" />
        </a>
        <button :disabled="buttonDisabled" class="btn waves-effect indigo">
          <i class="material-icons left">check</i>
          guardar
        </button>
      </div>
    </form>
  </div>
</template>

<script>
import loading from "@/components/loading";
import axios from "axios";
export default {
  props: ["campainProp", "campains", "index", "user"],
  name: "edit-campain",
  data() {
    return {
      response: "",
      buttonDisabled: false,
      campain: this.campainProp,
      participants: ""
    };
  },
  methods: {
    sendEdit() {
      let campainToEdit = this.campains.findIndex(element => {
        return element.title == this.campain.title;
      });

      this.campain.numberOfParticipants = this.participants;

      this.campains[campainToEdit] = this.campain;
      console.log(this.campains);

      this.response = "";
      this.buttonDisabled = true;

      let data = {
        campains: JSON.stringify(this.campains),
        user: this.user
      };

      console.log(data);

      axios
        .post(
          "https://evaluacion-360.human-express.com/php/evaluations/update.php",
          this.createFormData(data)
        )
        .then(response => {
          this.buttonDisabled = false;
          console.log(response.data);
          this.buttonDisabled = false;
          if (response.data.status) {
            M.toast({
              html: response.data.message
            });
            location.reload();
          } else {
            this.response = response.data.message;
          }
        })
        .catch(error => {
          console.log(error);

          this.buttonDisabled = false;
          this.response =
            "No se pudo procesar la información, intentalo de nuevo más tarde" +
            error;
          M.toast({
            html:
              "No se pudo procesar la información, intentalo de nuevo más tarde"
          });
        });
    },
    createFormData(postData) {
      var formDa = new FormData();
      for (var key in postData) {
        formDa.append(key, postData[key]);
      }
      return formDa;
    }
  },
  mounted() {
    var elems = document.querySelectorAll(".modal");
    var instances = M.Modal.init(elems, {});
  },
  components: {
    loading
  }
};
</script>
