<template>
  <div class="card-panel">
    <div class="row">
      <div class="col s12 m4" title="Diagnóstico">
        <i class="material-icons left">assignment_ind</i>
        {{name}}
      </div>

      <div class="col s12 m4" :title="textualStatus">
        <i class="material-icons left">{{iconStatus}}</i>
        {{displayStatus}}
      </div>
    </div>
    <div class="divider"></div>

    <div class="center grey-text">
      <div v-if="status">
        <p class="text-darken-1">{{textualStatus}}</p>
      </div>
      <div v-else>
        <p>{{textualStatus}}</p>
      </div>
    </div>
    <div class="divider"></div>
    <br />
    <div class="right-align">
      <SwitchEvaluated :campain="campain" :index="index" />
      <!--
      <router-link
        v-if="status"
        :to="'/monitoreo/' + user.id + '/' + toUrl(name)"
        class="shadow-hover btn-flat waves-effect waves-green"
      >
        <i class="material-icons left">trending_up</i>
        Monitoreo
      </router-link>
      -->

      <router-link
        :to="'/monitoreo/' + user.id + '/' + toUrl(name) + '/' + this.campain.id"
        class="shados-hover btn-flat waves-effect waves-green"
      >
        <i class="material-icons left">trending_up</i>
        Monitoreo
      </router-link>

      <a
        v-if="status"
        :href="'/#/cuestionario/' + user.id + '/' + toUrl(name)"
        target="_blank"
        class="shadow-hover btn waves-effect indigo"
      >
        <i class="material-icons left">person</i>
        individual / en linea
      </a>

      <button
        v-if="!status"
        @click="viewResults = !viewResults"
        class="shados-hover btn waves-effect indigo"
      >
        <i class="material-icons left">assessment</i>
        Ver resultados
      </button>

      <ExportData :campain="campain" :uid="campain.id" :user="user" :name="campain.name" />

      <EditEvaluated :campain="campain" :index="index" />

      <show-evaluators :uid="campain.id" :name="campain.name" />
    </div>
    <br />
    <div v-if="viewResults">
      <div class="divider"></div>
      <a
        v-for="(result,index) in results"
        :key="index"
        target="blank"
        :href="'/resultados#/'+result.category+'/'+user.id+'/'+campain.id"
        class="hoverable grey lighten-3"
        style="margin:5px;border-radius:2rem;padding:10px 20px;display:inline-block"
      >
        <i class="material-icons left">{{result.icon}}</i>
        {{result.text}}
      </a>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import SwitchEvaluated from "./campainItem/SwitchEvaluated";
import EditEvaluated from "./campainItem/EditEvaluated";
import ShowEvaluators from "./showEvaluators";
import ExportData from "./export/ExportData";

export default {
  name: "campain-item",
  props: ["campain", "index"],
  components: { SwitchEvaluated, EditEvaluated, ShowEvaluators, ExportData },
  data() {
    return {
      // campain data
      user: JSON.parse(sessionStorage.sessionData),
      name: this.campain.name,
      numberOfParticipants: this.campain.numberOfParticipants,
      participants: 0,
      status: this.campain.status,
      userCode: this.campain.userCode,

      // visible campain data

      displayStatus: "",
      iconStatus: "",
      textualStatus: "",

      // view results

      viewResults: false,

      //results

      results: [
        {
          icon: "people",
          text: "Participantes",
          category: "participantes"
        },
        {
          icon: "donut_large",
          text: "Global",
          category: "global"
        }
      ]
    };
  },
  methods: {
    get() {
      axios
        .get(
          "https://evaluacion-360.human-express.com/php/questionnaire/read.php?query=*&user=" +
            this.user.id +
            "&campain=" +
            this.title
        )
        .then(response => {
          console.log(response.data);
          if (response.data.status) {
            this.participants = response.data.participants;
          } else {
            this.participants = 0;
          }
        })
        .catch(error => {
          M.toast({
            html:
              "No se procesar la información intentalo de nuevo más tarde " +
              error
          });
        });
    },
    verifyStatus() {
      if (this.campain.status) {
        this.displayStatus = "Activo";
        this.iconStatus = "toggle_on";
        this.textualStatus =
          "Mientras el diagnóstico esté activo, los participantes podrán resolver cuestionarios";
      } else {
        this.displayStatus = "Inactivo";
        this.iconStatus = "toggle_off";
        this.textualStatus =
          "Mientras el diagnóstico esté inactivo, los participantes no podrán resolver cuestionarios y todos los resultados estarán disponibles";
      }
    },
    toUrl(string, index) {
      return string.replace(/ /g, "-").toLowerCase();
    },
    urlToString(string) {
      return string.replace(/-/g, " ");
    }
  },
  mounted() {
    this.verifyStatus();
    this.get();
    var elems = document.querySelectorAll(".modal");
    var instances = M.Modal.init(elems, {});

    //this.$emit('update:change');
  }
};
</script>

<style scoped>
shadow-hover:hover {
  filter: brightness(70%);
}
</style>