<template>
  <span>
    <button
      :data-target="'showEvaluators_'+ uid"
      class="modal-trigger btn waves-effect green button-action"
      title="ver evaluadores"
    >
      <i class="material-icons valign-wrapper">people</i>
    </button>
    <div :id="'showEvaluators_'+ uid" class="modal">
      <div class="modal-content" style="text-align:left">
        <h4>
          Evaluadores de
          <b class="indigo-text">{{name}}</b>
        </h4>

        <form class="row" @submit.prevent="addEvaluator">
          <div class="input-field col s12 m6">
            <i class="material-icons prefix">person</i>
            <input required v-model="nameEvaluator" id="nameEvaluator" type="text" class="validate" />
            <label for="nameEvaluator">Nombre</label>
          </div>

          <div class="input-field col s12 m6">
            <i class="material-icons prefix">assignment_ind</i>
            <input
              required
              v-model="stallEvaluator"
              id="stallEvaluator"
              type="text"
              class="validate"
            />
            <label for="stallEvaluator">Puesto</label>
          </div>

          <div class="input-field col s12 m6">
            <i class="material-icons prefix">work</i>
            <input required v-model="areaEvaluator" id="areaEvaluator" type="text" class="validate" />
            <label for="areaEvaluator">Area/Departamento</label>
          </div>

          <div class="input-field col s12 m6">
            <i class="material-icons prefix">people</i>
            <select v-model="relationEvaluator" required>
              <option>Cliente Externo</option>
              <option>Cliente Interno</option>
              <option>Compañero de Area o Departamento</option>
              <option>Jefe Directo</option>
              <option>Par (Mismo nivel o jerarquía)</option>
              <option>Subordinado</option>
              <option>Auto Evaluado</option>
            </select>
            <label>Relación con el evaluado</label>
          </div>

          <div class="input-field col s12 m6">
            <i class="material-icons prefix">email</i>
            <input
              required
              v-model="emailEvaluator"
              id="emailEvaluator"
              type="text"
              class="validate"
            />
            <label for="emailEvaluator">Correo Electrónico</label>
          </div>

          <div class="input-field col s12 m6 center">
            <button class="btn infigo">
              <i class="material-icons left">person_add</i>
              Añadir Evaluador
            </button>
          </div>
        </form>
        <div v-if="status">
          <div class="row">
            <div class="col s12 m6" :key="index" v-for="(evaluator,index) in evaluators">
              <div class="card-panel">
                <!-- botones -->
                <div class="cursor-pointer right red-text" @click="deleteEvaluator(index)">
                  <i class="material-icons">close</i>
                </div>
                <div class="cursor-pointer right indigo-text" @click="edit(index)">
                  <i class="material-icons">edit</i>
                </div>
                <div class="cursor-pointer right indigo-text" @click="toggleActive(index)">
                  <i class="material-icons" v-if="evaluator.active">toggle_on</i>
                  <i class="material-icons" v-if="!evaluator.active">toggle_off</i>
                </div>
                <br />
                <!-- botones -->

                <form
                  @submit.prevent="evaluator.edit = false, updateEvaluators()"
                  v-if="evaluator.edit"
                >
                  <div class="input-field">
                    <i class="material-icons prefix">person</i>
                    <input
                      required
                      v-model="evaluator.name"
                      :id="'nameEvaluator_' + index"
                      type="text"
                      class="validate"
                    />
                    <label :for="'nameEvaluator_' + index">Nombre</label>
                  </div>
                  <div class="input-field">
                    <i class="material-icons prefix">person</i>
                    <select v-model="evaluator.relation" required>
                      <option>Cliente Externo</option>
                      <option>Cliente Interno</option>
                      <option>Compañero de Area o Departamento</option>
                      <option>Jefe Directo</option>
                      <option>Par (Mismo nivel o jerarquía)</option>
                      <option>Subordinado</option>
              <option>Auto Evaluado</option>
                    </select>
                    <label>Relación con el evaluado</label>
                  </div>
                  <div class="input-field">
                    <i class="material-icons prefix">person</i>
                    <input
                      required
                      v-model="evaluator.email"
                      :id="'emailEvaluator_' + index"
                      type="text"
                      class="validate"
                    />
                    <label :for="'emailEvaluator_' + index">Correo Electrónico</label>
                  </div>
                  <div class="input-field">
                    <i class="material-icons prefix">person</i>
                    <input
                      required
                      v-model="evaluator.stall"
                      :id="'stallEvaluator_' + index"
                      type="text"
                      class="validate"
                    />
                    <label :for="'stallEvaluator_' + index">Puesto</label>
                  </div>
                  <div class="input-field">
                    <i class="material-icons prefix">person</i>
                    <input
                      required
                      v-model="evaluator.area"
                      :id="'areaEvaluator_' + index"
                      type="text"
                      class="validate"
                    />
                    <label :for="'areaEvaluator_' + index">Area</label>
                  </div>
                  <div class="input-field">
                    <i class="material-icons prefix">person</i>
                    <input
                      required
                      v-model="evaluator.userCode"
                      :id="'userCodeEvaluator_' + index"
                      type="text"
                      class="validate"
                    />
                    <label :for="'userCodeEvaluator_' + index">Código de Usuario</label>
                  </div>
                  <button class="btn indigo">Guardar</button>
                </form>
                <div v-else>
                  Nombre:
                  <b>{{evaluator.name}}</b>
                  <br />Relación:
                  <b>{{evaluator.relation}}</b>
                  <br />
                  <hr />Correo Electrónico:
                  <b>{{evaluator.email}}</b>
                  <br />Puesto:
                  <b>{{evaluator.stall}}</b>
                  <br />Area:
                  <b>{{evaluator.area}}</b>
                  <br />
                  <hr />Código de Usuario:
                  <b>{{evaluator.userCode}}</b>

                  <div v-if="evaluator.finished" style="margin-left: 75%">
                    <b>Finalizado</b>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div v-else>{{message}}</div>
      </div>

      <div class="modal-footer">
        <a class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
      </div>
    </div>
  </span>
</template>
<script>
import axios from "axios";

export default {
  name: "show-evaluators",
  props: ["uid", "name"],
  data() {
    return {
      evaluators: [],
      status: false,
      message: "Cargando...",

      // datos de nuevo evaluador

      nameEvaluator: "",
      areaEvaluator: "",
      stallEvaluator: "",
      relationEvaluator: "",
      emailEvaluator: ""
    };
  },
  methods: {
    edit(index) {
      if (this.evaluators[index].edit) {
        this.evaluators[index].edit = false;
      } else {
        this.evaluators[index].edit = true;
      }
      this.$forceUpdate();
      setTimeout(() => {
        M.updateTextFields();

        var elems = document.querySelectorAll("select");
        var instances = M.FormSelect.init(elems, {});
      }, 300);
    },
    toggleActive(index) {
      if (this.evaluators[index].active) {
        this.evaluators[index].active = false;
      } else {
        this.evaluators[index].active = true;
      }
      this.$forceUpdate();
      this.updateEvaluators();
    },
    getEvaluators() {
      axios
        .get(
          "https://evaluacion-360.human-express.com/php/evaluations/evaluators/read.php?uid=" +
            this.uid
        )
        .then(response => {
          console.log(response.data);

          this.status = response.data.status;
          if (response.data.status) {
            this.evaluators = response.data.evaluators;
          } else {
            this.message = response.data.message;
          }
        })
        .catch(error => {
          this.status = false;
          this.message = "Ha ocurrido un error: " + error;
        });
    },
    deleteEvaluator(index) {
      if (confirm("¿Realmente desea eliminar este evaluador?")) {
        this.evaluators.splice(index, 1);
        this.updateEvaluators();
      }
    },
    updateEvaluators() {
      console.log(this.evaluators);
      var evaluators = this.evaluators.map(evaluator => {
        delete evaluator.questionnaire;
        return evaluator;
      });

      var data = {
        evaluators: JSON.stringify(evaluators),
        uid: this.uid
      };

      axios
        .post(
          "https://evaluacion-360.human-express.com/php/evaluations/evaluators/update.php",
          this.createFormData(data)
        )
        .then(response => {
          M.toast({ html: response.data.message });
        })
        .catch(error => {
          this.status = false;
          M.toast({ html: "Ha ocurrido un error: " + error });
        });
    },
    rand(min, max) {
      return Math.floor(Math.random() * (max - min)) + min;
    },
    addEvaluator() {
      this.evaluators.push({
        name: this.nameEvaluator,
        stall: this.stallEvaluator,
        area: this.areaEvaluator,
        relation: this.relationEvaluator,
        email: this.emailEvaluator,
        userCode:
          "" +
          new Date().getDay() +
          this.rand(100, 999) +
          new Date().getMonth() +
          this.rand(10, 99)
      });

      this.updateEvaluators();

      this.nameEvaluator = "";
      this.stallEvaluator = "";
      this.areaEvaluator = "";
      this.relationEvaluator = "";
      this.emailEvaluator = "";
    },
    createFormData(postData) {
      var formDa = new FormData();
      for (var key in postData) {
        formDa.append(key, postData[key]);
      }
      return formDa;
    }
  },
  created() {
    this.getEvaluators();
  },
  mounted() {
    var elems = document.querySelectorAll(".modal");
    var instances = M.Modal.init(elems, {});
    var elems = document.querySelectorAll("select");
    var instances = M.FormSelect.init(elems, {});
  }
};
</script>
<style scoped>
.cursor-pointer {
  cursor: pointer !important;
  margin-left: 10px;
}
</style>